#btnEntrar {
    -fx-background-color: #5cc7b2;
    -fx-font-weight: bold;
}

#btnEntrar:hover {
    -fx-cursor: hand;
    -fx-background-color: #6fd9c4;
}

#btnUpdateGrupo:hover, #btnAlterarGrupo:hover {
    -fx-cursor: hand;
}

#btnUpdateGrupo, #btnAlterarGrupo {
    -fx-background-color: green;
}